# set the udev rule , make the device_port be fixed by hi226
#
KERNELS=="2-7", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="imu"

# set the udev rule , make the device_port be fixed by sanchi_imu
#

